<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="irishreloreportgen.activity.main"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk 
        android:minSdkVersion="8"
        android:targetSdkVersion="12" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <application
        android:name="irishreloreportgen.staticclassnconst.IrishreloAccess"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light"
        android:debuggable="true" >
        
        <activity
            android:name="irishreloreportgen.activity.main.IrishreloLunch"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
          	 <intent-filter>
	           <action android:name="android.intent.action.MAIN" />
	           <category android:name="android.intent.category.LAUNCHER" />
       		</intent-filter>  
        </activity>
        <activity
            android:name="irishreloreportgen.activity.main.ReportBasicDetails"
            android:label="@string/title_activity_report_basic_details"
            android:screenOrientation="portrait" >
            
        </activity>
        <activity
            android:name="irishreloreportgen.activity.main.CommonGoToActivity"
            android:label="@string/title_activity_common_go_to"
            android:screenOrientation="portrait" >
          	
        </activity>
        <activity
            android:name="irishreloreportgen.activity.main.interior.Interior"
            android:label="@string/interiorlbl"
            android:screenOrientation="portrait"
            android:noHistory="false" >
              
        </activity>
        
        <activity
            android:name="irishreloreportgen.activity.main.interior.InteriorCloakRoom"
            android:label="@string/interiorlbl"
            android:screenOrientation="portrait" >        
        </activity>
        
        <activity
            android:name="irishreloreportgen.activity.main.interior.InteriorLiving"
            android:label="@string/interiorlbl"
            android:screenOrientation="portrait" >   
             
        </activity>
       
        <activity
            android:name="irishreloreportgen.activity.main.interior.InteriorDiningRoom"
            android:label="@string/interiorlbl"
            android:screenOrientation="portrait" >        
        </activity>
        <activity
            android:name="irishreloreportgen.activity.main.interior.InteriorKitchen"
            android:label="@string/interiorlbl"
            android:screenOrientation="portrait" >        
        </activity>
        <activity
            android:name="irishreloreportgen.activity.main.interior.InteriorUtilityRoom"
            android:label="@string/interiorlbl"
            android:screenOrientation="portrait" >        
        </activity>
        <activity
            android:name="irishreloreportgen.activity.main.interior.InteriorMasterBedroom"
            android:label="@string/interiorlbl"
            android:screenOrientation="portrait" >        
        </activity>
         <activity
            android:name="irishreloreportgen.activity.main.interior.InteriorSuiteBathroom"
            android:label="@string/interiorlbl"
            android:screenOrientation="portrait" >        
        </activity>
        
        <activity
            android:name="irishreloreportgen.activity.main.interior.InteriorBedroomTwo"
            android:label="@string/interiorlbl"
            android:screenOrientation="portrait" >        
        </activity>
        <activity
            android:name="irishreloreportgen.activity.main.interior.InteriorMainBathroom"
            android:label="@string/interiorlbl"
            android:screenOrientation="portrait" >        
        </activity>
        <activity
            android:name="irishreloreportgen.activity.main.interior.InteriorBedroomThree"
            android:label="@string/interiorlbl"
            android:screenOrientation="portrait" >        
        </activity>
        <activity
            android:name="irishreloreportgen.activity.main.interior.InteriorBedroomFour"
            android:label="@string/interiorlbl"
            android:screenOrientation="portrait" >        
        </activity>
         <activity
            android:name="irishreloreportgen.activity.main.interior.InteriorBedroomFive"
            android:label="@string/interiorlbl"
            android:screenOrientation="portrait" >   
              </activity>   
             <activity
            android:name="irishreloreportgen.activity.main.interior.InteriorRoomOne"
            android:label="@string/interiorlbl"
            android:screenOrientation="portrait" >      
        </activity>
        <activity
            android:name="irishreloreportgen.activity.main.interior.InteriorRoomTwo"
            android:label="@string/interiorlbl"
            android:screenOrientation="portrait" >      
        </activity>
        <activity
            android:name="irishreloreportgen.activity.main.interior.InteriorRoomThree"
            android:label="@string/interiorlbl"
            android:screenOrientation="portrait" >      
        </activity>
        <activity
            android:name="irishreloreportgen.activity.main.interior.InteriorRoomFour"
            android:label="@string/interiorlbl"
            android:screenOrientation="portrait" >      
        </activity>
        <activity
            android:name="irishreloreportgen.activity.main.interior.InteriorRoomFive"
            android:label="@string/interiorlbl"
            android:screenOrientation="portrait" >      
        </activity>
        <activity
            android:name="irishreloreportgen.activity.main.interior.InteriorEnSuiteOne"
            android:label="@string/interiorlbl"
            android:screenOrientation="portrait" >      
        </activity>
         <activity
            android:name="irishreloreportgen.activity.main.interior.InteriorEnSuiteTwo"
            android:label="@string/interiorlbl"
            android:screenOrientation="portrait" >      
        </activity>
         <activity
            android:name="irishreloreportgen.activity.main.interior.InteriorEnSuiteThree"
            android:label="@string/interiorlbl"
            android:screenOrientation="portrait" >  
            </activity>    
             <activity
            android:name="irishreloreportgen.activity.main.interior.InteriorEnSuiteFour"
            android:label="@string/interiorlbl"
            android:screenOrientation="portrait" >      
            </activity>
            <activity
            android:name="irishreloreportgen.activity.main.interior.InteriorEnSuiteFive"
            android:label="@string/interiorlbl"
            android:screenOrientation="portrait" >      
            </activity>
        
        <activity
            android:name="irishreloreportgen.activity.main.exterior.Exterior"
            android:label="@string/exteriorlbl"
            android:screenOrientation="portrait" >
            
        </activity>
         <activity
            android:name="irishreloreportgen.activity.main.exterior.ExteriorIfApplicable"
            android:label="@string/exteriorlbl"
            android:screenOrientation="portrait" >
            
        </activity>
         <activity
            android:name="irishreloreportgen.activity.main.exterior.ExteriorApartmentParking"
            android:label="@string/exteriorlbl"
            android:screenOrientation="portrait" >
            
        </activity>
        <activity
            android:name="irishreloreportgen.activity.main.exterior.CommentNComp"
            android:label="@string/exteriorlbl"
            android:screenOrientation="portrait" >
             
        </activity>
         <activity
            android:name="irishreloreportgen.activity.main.exterior.ExteriorSignature"
            android:label="@string/exteriorlbl"
            android:screenOrientation="portrait" >
            
        </activity>
        <activity
            android:name="irishreloreportgen.activity.main.utilities.Utilities"
            android:label="@string/utilitylbl"
            android:screenOrientation="portrait" >
        </activity>
        
      
        <activity
            android:name="irishreloreportgen.activity.main.ListReports"
            android:label="@string/title_activity_list_reports"
            android:screenOrientation="portrait" >
            
        </activity>

        <receiver android:name="irishreloreportgen.activity.main.serv.DataSynchronise" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="irishreloreportgen.activity.main.utilities.CommunicationNPrecaution">
        </activity>
        <activity
            android:name="irishreloreportgen.activity.main.utilities.MPRN_GAS">
            
        </activity>
        <activity android:name="irishreloreportgen.activity.capturesignature.CaptureSign"
            android:label="@string/app_name">
        </activity>       
    </application>
</manifest>
